<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:fragment="head">
		<title>Enterprise WebRA </title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
		
		<script src='http://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.js'></script>
        <script src='http://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-resource.js'></script>
        
        <script src='/js/services/groupService.js'></script>
        <script src='/js/services/genreService.js'></script>
        
        <script src='/js/controllers/groupController.js'></script>
        <script src='/js/controllers/genreController.js'></script>
	</head>
	<body>
	</body>
</html>
